doc
pkg
tmp
.ruby-version
Gemfile.lock
*.gem
*.swp
/tags
*.tags
Makefile

# formwork-io/gosh shell history
.goshhst
# formwork-io/gosh custom env.sh
/env.sh.custom

# ignore top-level .gems directory if used
/.gems

# ignore top-level .bundle directory if used
/.bundle

