doc
pkg
tmp
.ruby-version
Gemfile.lock
*.gem
*.swp
/tags
*.tags
Makefile
.netrwhist

# formwork-io/gosh shell history
.goshhst
# formwork-io/gosh custom env.sh
/env.sh.custom

# ignore top-level .gems directory if used
/.gems

# ignore top-level gems.dep.rb.lock if old gem versions are used
/gem.deps.rb.lock

# ignore top-level .bundle directory if used
/.bundle

