--title 'BEL Ruby'
--readme README.md
--charset UTF-8
--main README.md
--files "CHANGELOG.md,CONTRIBUTING.md,INSTALL.md,INSTALL_RUBY.md,LICENSE,README.md"
--exclude 'lib/bel/script.rb'
--private
"examples/**/*.rb"
"lib/**/*.rb"
"spec/**/*.rb"
"test/**/*.rb"
